
@font-face {
    font-family: helve1;
    font-style: bold;
    src: url('../fonts/HelveticaBold.otf');
}
@font-face {
    font-family: helve2;
    font-style: light;
    src: url('../fonts/HelveticaLight.otf');
}
@font-face {
    font-family: helve3;
    font-style: roman;
    src: url('../fonts/HelveticaRoman.otf');
}
@font-face {
    font-family: helve4;
    font-style: fractions;
    src: url('../fonts/HelveticaFractions.otf');
}
@font-face {
    font-family: helve5;
    font-style: obl;
    src: url('../fonts/HelveticaObl.otf');
}



body{
    background:  url(../img/back6.png);
    background-size: 700px;
}


.present-back{
    padding: 200px 80px 100px;
    /*top, (left y right) bottom*/ 
    background: rgba(0, 0, 0, 0.479);
    width: 100%;
}

.present-div{
    background: rgba(0, 0, 0, 0);
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
   
    width: 80%;
}
.line-project-title{
    width: 100%;
    height: 3px;
    background: rgb(235, 235, 235);
    margin-top: 10px;
    margin-bottom: 10px;
}

.present-title{
    font-family: helve1;
    font-style: bold;
    font-size: 70px;
    color: rgb(241, 241, 241);
    margin-bottom: 10px;
}
.present-line1{
    width: 100%;
    height: 4px;
    background: rgb(241, 241, 241);
}

.project-gen{
    padding: 100px 80px 100px;
    /*top, (left y right) bottom*/ 
    background: rgba(0, 0, 0, 0.479);
    
}
.line-project-title{
    width: 100%;
    height: 3px;
    color: rgb(241, 241, 241);
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-content{
    background: rgba(0, 0, 0, 0);
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    
   width: 100%;
}
.text-project{
    display: flex;
 flex-direction: column;
 width: 80%;
 padding: 20px 0px;
 background: rgba(0, 0, 0, 0);
}
.img-project{
    width: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.img-project-div{
    margin-top: 10px;
    
    
}

.title-project{
    font-family: helve1;
    font-style: bold;
    font-size: 40px;
    color: rgb(241, 241, 241);
}
.lan-project-herra{
    font-family: helve2;
    font-style: light;
    font-size: 17px;
    padding-bottom: 10px;
    color: rgb(241, 241, 241);
}
.title-project-herra{
    font-family: helve3;
    font-style: roman;
    font-size: 30px;
    color: rgb(241, 241, 241);
    margin-bottom: 10px;  

}

.explication-project{
    font-family: helve2;
    text-align: justify;
    font-style: light;
    font-size: 20px;
    padding-bottom: 10px;
    color: rgb(241, 241, 241);
}
.img-project-three{
    width: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.img-secc{
    width: 45%;
}
.img-secc-two{
    width: 33%;
}
.img-secc-three{
    width: 24%;
}
.git{
    text-decoration: none;
    font-family: helve1;
    font-style: bold;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(245, 245, 245);
}
.git:hover{
    color: rgb(0, 185, 83);
}
@media(max-width:900px){
    .present-title{
        font-family: helve1;
        font-style: bold;
        font-size: 60px;
        
    }
    .text-project{
        display: flex;
     flex-direction: column;
     width: 100%;
     
    }
    .img-project{
        width: 100%;
        
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     
    }
    .img-project-three{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .img-secc{
        width:70%;
    }
    .img-secc-two{
        width: 100%;
    }
    .img-secc-three{
        width: 49%;
    }
}
@media(max-width:750px){
    .present-div{
       
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       
        width: 100%;
    }
    .present-title{
        font-family: helve1;
        font-style: bold;
        font-size: 40px;
        
    }
    .present-back{
        padding: 100px 50px 40px 50px;
        /*top right bottom left*/ 
        
        width: 100%;
    }
    .project-gen{
        padding: 70px 50px 70px;
        /*top, (left y right) bottom*/ 
        
        
    }
    .img-secc{
        width:100%;
    }
    .img-secc-two{
        width: 100%;
    }
    .img-secc-three{
        width: 50%;
    }
}